.App {
  /* text-align: center; */
}

.jumbotron {
  /* //padding: 0; */
  margin: 0px auto;
  background: #f0f7fd;
  color: #118af4;
}

.homeCarousel {
  background: #f0f7fd;
}

.footer {
  background-color: #f0f7fd;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.emsb-footer-logo {
  width: 70px;
  height: auto;
  margin: 0 0 20px 0;
}

/* .emsb-calendar {
  width: 40px;
  height: auto;
  margin: 0 0 20px 0;
} */

.home-logos {
  width: 80px;
  height: auto;
  /* margin: 0 0 20px 0; */
}

.admission-checkmark {
  width: 40px;
  height: auto;
}
.admission-form-icon {
  width: 40px;
  height: auto;
}
.admission-link-icon {
  width: 30px;
  height: auto;
}

.admission-qc-edu-nf {
  width: 60px;
  height: auto;
}

.admission-qc-edu-title {
  font-size: 26px;
}
.admission-qc-edu-title-german {
  font-size: 18px;
}

.students-field-trip-icon {
  width: 100px;
  height: auto;
}
.students-field-trip-location {
  font-size: 22px;
}
.students-field-trip-date {
  font-size: 22px;
}
.students-field-trip-small-title {
  font-size: 30px;
}

.fa-info-circle {
  color: white;
}