.App {
  /* text-align: center; */
}

.jumbotron {
  /* //padding: 0; */
  margin: 0px auto;
  background: #f0f7fd;
  color: #118af4;
}

.homeCarousel {
  background: #f0f7fd;
}

.footer {
  background-color: #f0f7fd;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.emsb-footer-logo {
  width: 70px;
  height: auto;
  margin: 0 0 20px 0;
}

/* .emsb-calendar {
  width: 40px;
  height: auto;
  margin: 0 0 20px 0;
} */

.home-logos {
  width: 80px;
  height: auto;
  /* margin: 0 0 20px 0; */
}
